 .u-section-1 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1022px;
}

.u-section-1 .u-group-1 {
  width: 861px;
  min-height: 857px;
  height: auto;
  margin: 165px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-align: justify;
  line-height: 1.1;
  font-weight: 900;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 147px 30px 0;
}

.u-section-1 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 40px 0 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 13px;
  padding: 15px 65px 15px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 653px;
}

.u-section-2 .u-list-1 {
  width: 570px;
  margin: 41px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 593px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 24px 458px 0 10px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  margin: -61px 0 0 147px;
}

.u-section-2 .u-text-3 {
  margin: 24px 0 0 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 24px 458px 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  margin: -61px 0 0 147px;
}

.u-section-2 .u-text-6 {
  margin: 24px 0 0 10px;
}

.u-section-2 .u-image-1 {
  width: 510px;
  height: 448px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -574px 0 126px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 156px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 156px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 589px;
    height: 517px;
    margin-top: -49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 36px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 142px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 36px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -50px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 151px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 151px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 259px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -44px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-right: 259px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -44px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 298px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 661px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 518px;
  margin: 102px auto 0 52px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 676px;
}

.u-section-3 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 13px auto 0 30px;
}

.u-section-3 .u-video-1 {
  width: 1012px;
  height: 562px;
  margin: -698px -252px 19px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-video-1 {
    width: 259px;
    height: 144px;
    margin-bottom: 60px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-video-1 {
    margin-right: 0;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 22px;
  }

  .u-section-3 .u-video-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 901px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 518px;
  margin: 186px 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 753px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 129px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 29px 0 0;
}

.u-section-4 .u-video-1 {
  width: 567px;
  height: 676px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -715px auto 0 3px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 754px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 644px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 405px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 760px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 518px;
  margin: 84px auto 0 30px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 676px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 13px 1px 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 570px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -727px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-left: 22px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-6 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 100%;
}

.u-section-6 .u-sheet-1 {
  min-height: 553px;
}

.u-section-6 .u-group-1 {
  width: 901px;
  min-height: 387px;
  margin: 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 48px auto 0;
  padding: 16px 51px 16px 49px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 684px;
}

.u-section-7 .u-list-1 {
  width: 459px;
  margin: 70px 0 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 511px;
  grid-gap: 40px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-group-1 {
  min-height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0 11px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: 22px 11px 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 10px 11px 0;
}

.u-section-7 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 124px;
  margin: 22px auto 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  margin: 30px auto 0;
  padding: 19px 41px 20px 40px;
}

.u-section-7 .u-text-5 {
  font-size: 3rem;
  font-weight: 900;
  margin: -482px 666px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 22px 666px 256px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-4 {
    width: 103px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -379px;
    margin-right: 495px;
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 32px;
    margin-right: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
    margin-right: 275px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 20px;
    margin-right: 246px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 95px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }
} .u-section-8 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 0% 43.09%;
  background-size: 245%;
}

.u-section-8 .u-sheet-1 {
  min-height: 692px;
}

.u-section-8 .u-slider-1 {
  min-height: 532px;
  width: 471px;
  margin: 80px auto 70px 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-8 .u-carousel-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-8 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/pexels-photo-8386597.jpeg");
  background-position: 50% 50%;
  margin: 38px auto 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-8 .u-carousel-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-8 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/cheerful-business-woman-make-winner-gesture.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.0625rem;
  width: 311px;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  width: 191px;
  margin: 32px auto 0;
}

.u-section-8 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  inset: auto -97px 0px auto;
  position: absolute;
  background-image: none;
}

.u-section-8 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  position: absolute;
  background-image: none;
  left: auto;
  top: 0;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-8 .u-slider-1 {
    height: auto;
  }

  .u-section-8 .u-carousel-control-1 {
    left: -85px;
    right: auto;
  }

  .u-section-8 .u-carousel-control-2 {
    right: -80px;
    inset: auto -227px 0px auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 441px;
    width: 470px;
  }

  .u-section-8 .u-carousel-indicators-1 {
    bottom: 26px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 30px 60px 30px 50px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 30px 60px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    background-size: auto 245%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 467px;
    width: 441px;
    margin-top: 60px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 529px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}